.demo{
    border: 1px solid red;
    height: 100px;
    width:100px;
    position: absolute;
    top: 0;
    left: 0;
}
body{
    margin: 0;
    border: 2px solid blue;
    /* 要加上height，否则body的大小有问题，鼠标点击有问题 */
    height: 100vh;
    box-sizing: border-box;
    /* 跟整个给屏幕一样大 */
}